body {
  background-color: rgb(242, 242, 242);
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-box {
  background-color: white;
  border-radius: 5px 20px 5px 5px;
  box-shadow: 2px 0 5px rgb(181, 181, 181);
  width: 40%;
  display: flex;
  padding: 20px;
  margin: 10px;
}

.list-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

.list-image {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.list-headline {
  text-decoration: none;
  color: inherit;
  width: 250px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}



.list-headline::after {
  content: '';
  width: 0;
  height: 2ch;
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.list-website {
  margin: 0;
  color: rgb(176, 175, 255);
  font-weight: bold;
}